.articles {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

    & > * {
        flex: 0 0 calc(33.33% - 40px * 2 / 3);
    }

    @media screen and (max-width: $breakpoint1200) {
        gap: 20px;

        & > * {
            flex: 0 0 calc(33.33% - 20px * 2 / 3);
        }
    }

    @media screen and (max-width: $breakpoint768) {
        & > * {
            flex: 0 0 calc(50% - 20px / 2);
        }
    }
    @media screen and (max-width: $breakpoint480) {
        gap: 30px;
        & > * {
            flex: 0 0 100%;
        }
    }
    

    &_slider {
        // flex-wrap: nowrap;
        width: 100vw;
        max-width: calc($conteinerWidth + 2 * $containerPadding);
        margin: 0 (-$containerPadding);
        padding: 0 $containerPadding;
        // overflow-x: auto;
        display: block;
        
        scrollbar-width: 0;
        &::-webkit-scrollbar {
            display: none;
        }

        & > * {
            min-width: 310px;
        }

        @media screen and (max-width: $breakpoint1200) {
            gap: 20px;
    
            & > * {
                flex: 0 0 calc(33.33% - 20px * 2 / 3);
            }
        }

        @media screen and (max-width: $breakpoint768) {
            gap: 10px;
        }
    }

}

.article-card {

    // .article-card__cover
    &__cover {
        position: relative;
        border-radius: clamp(14px, 2vw, 20px);
        overflow: hidden;
        width: 100%;
        aspect-ratio: 400 / 260;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // .article-card__tags
    &__tags {
        position: absolute;
        top: 18px;
        left: 18px;

        display: flex;
        align-items: center;
        gap: 5px;

        @media screen and (max-width: $breakpoint768) {
            top: 12px;
            left: 12px;
        }
    }

    // .article-card__tag
    &__tag {

        display: flex;
        justify-content: center;
        align-items: center;

        padding: 4px 10px;
        background: linear-gradient(90deg, rgba(79, 175, 253, 0.5) 0%, rgba(51, 184, 210, 0.5) 100%);
        border-radius: 30px;
    
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 1.45;
        text-align: center;
        color: $colorPrimary3;

    }

    // .article-card__info
    &__info {
        margin-top: 24px;
        display: flex;
        align-items: center;
        gap: 20px;

        @media screen and (max-width: $breakpoint768) {
            margin-top: 16px;
        }
        
    }

    // .article-card__info-item
    &__info-item {
        display: flex;
        align-items: center;
        gap: 5px;


        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 2;
        color: $colorPrimary2;
        opacity: 0.75;

        position: relative;
        &::before {
            content: '';
            height: 12px;
            width: 1px;
            background: #DCDEE4;
            position: absolute;
            right: -11px;
            top: 50%;
            translate: 0 -50%;
        }

        &:last-of-type {
            &::before {
                display: none;
            }
        }

    }

    // .article-card__title
    &__title {
        margin-top: 12px;
        color: $colorPrimary2;

        @media screen and (max-width: $breakpoint768) {
            margin-top: 8px;
        }
    }
}

.articles-filter {

    padding: 7px 32px 7px 7px;
    outline: 2px solid $colorSecondary2;
    border-radius: 100px;
    
    cursor: pointer;
    position: relative;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;

    @media screen and (max-width: $breakpoint576) {
        gap: 5px;
        outline: none;
        padding: 7px 20px 7px 7px;
    }

    @include mainText;

    // .articles-filter__action
    &__action {
        color: $colorSecondary3;
        background: $colorSecondary2;

        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px 12px;
        border-radius: 100px;

        @media screen and (max-width: $breakpoint576) {
            background: none;
            padding: 0;
        }
    }

    // .articles-filter__value
    &__value {
        color: $colorPrimary2;

        position: relative;
        &::after {
            content: url(../img/blog/filter-arrow.svg);
            display: flex;
            height: 4px;
            position: absolute;
            top: 0;
            left: calc(100% + 7px);
            translate: 0 -50%;
        }
    }

    .droplist {
        position: absolute;
        top: calc(100% + 10px);
        right: 0;
        min-width: 100%;
        width: max-content;
        background: $colorSecondary1;
        z-index: 1;

        border-radius: 12px;
        border: 2px solid $colorSecondary2;

        display: none;
        flex-direction: column;

        span {
            cursor: pointer;
            padding: 10px;

            &:hover {
                background: $colorSecondary2;
            }
        }
    }

    &_active {
        .droplist {
            display: flex;
        }
    }
}

.articles-section {
    padding-bottom: clamp(50px, 13vw, 130px);
    border-bottom: 1px solid #D7E3ED;
}


.articles-slider-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
    cursor: pointer;

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: $colorSecondary2;
    }

    .swiper-pagination-bullet-active {
        background: $orange;
    }
}

.section_bg {
    overflow: hidden;
    .articles {
        &_slider {
            width: calc(100% + 65px * 2);

            margin: 0 -65px;
            padding: 0 65px;
        }
    }
}