.btn {

    display: flex;
    align-items: center;
    gap: 12px;
    
    color: $colorPrimary2;

    // .btn__arrow
    &__arrow {
        background: $colorSecondary2;
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    // .btn_small
    &_small {
        height: 44px;
        border-radius: 100px;
        border: 2px solid $colorSecondary2;
        padding: 7px 7px 7px 14px;
        
        font-size: 16px;
        font-weight: 500;

        .btn__arrow {
            width: 30px;
            height: 30px;
        }

        &:hover {
            border-color: $colorSecondary3;

            .btn__arrow {
                background-color: $colorPrimary2;

                svg path {
                    stroke: $colorPrimary3;
                }
            }
        }

        &:active {
            border-color: transparent;
            background-color: $colorPrimary2;
            color: $colorPrimary3;

            .btn__arrow {
                background-color: $colorPrimary3;

                svg path {
                    stroke: $colorPrimary2;
                }
            }
        }
    }

    // .btn_orange
    &_orange {
        
        .btn__arrow {
            background: $gradientPrimary; 
            
            svg {
                path {
                    stroke: $colorPrimary3;
                }
            }
        }

        &:hover {
            border-color: #FF9243;

            .btn__arrow {
                background: $gradientPrimary;

                svg path {
                    stroke: $colorPrimary3;
                }
            }
        }

        &:active {
            border-color: transparent;
            background: $gradientPrimary;
            color: $colorPrimary3;

            .btn__arrow {
                background: $colorPrimary3;

                svg path {
                    stroke: #FF9243;
                }
            }
        }
    }
}
