@font-face {
                                    font-family: gilroy;
                                    font-display: swap;
                                    src: url("../fonts/gilroy-bold.woff2") format("woff2");
                                    font-weight: 700;
                                    font-style: normal;
                                }
@font-face {
                                    font-family: gilroy;
                                    font-display: swap;
                                    src: url("../fonts/gilroy-bolditalic.woff2") format("woff2");
                                    font-weight: 700;
                                    font-style: italic;
                                }
@font-face {
                                    font-family: gilroy;
                                    font-display: swap;
                                    src: url("../fonts/gilroy-regular.woff2") format("woff2");
                                    font-weight: 400;
                                    font-style: normal;
                                }
@font-face {
                                    font-family: gilroy;
                                    font-display: swap;
                                    src: url("../fonts/gilroy-mediumitalic.woff2") format("woff2");
                                    font-weight: 500;
                                    font-style: italic;
                                }
@font-face {
                                    font-family: gilroy;
                                    font-display: swap;
                                    src: url("../fonts/gilroy-semibolditalic.woff2") format("woff2");
                                    font-weight: 600;
                                    font-style: italic;
                                }
@font-face {
                                    font-family: gilroy;
                                    font-display: swap;
                                    src: url("../fonts/gilroy-regularitalic.woff2") format("woff2");
                                    font-weight: 400;
                                    font-style: italic;
                                }
@font-face {
                                    font-family: gilroy;
                                    font-display: swap;
                                    src: url("../fonts/gilroy-medium.woff2") format("woff2");
                                    font-weight: 500;
                                    font-style: normal;
                                }
@font-face {
                                    font-family: gilroy;
                                    font-display: swap;
                                    src: url("../fonts/gilroy-semibold.woff2") format("woff2");
                                    font-weight: 600;
                                    font-style: normal;
                                }
