.mobile-menu {

    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: calc(56px + 10px + 10px);
    translate: 100%;

    background: linear-gradient(106.29deg, #224FAA 15.91%, #214286 98.38%);
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    &::after {
        content: '';
        position: fixed;
        width: 128vw;
        aspect-ratio: 1;
        bottom: 0;
        left: 50%;
        translate: -50% 50%;
        background: url(../img/mobile-menu/bg.png) 0 0 / 100% auto no-repeat;
        pointer-events: none;
        z-index: -1;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 15px;

    &_active {
        translate: 0;
    }

    @media screen and (min-width: $breakpoint992) {
        display: none;
    }

    // .mobile-menu__nav
    &__nav {
        margin-top: auto;
    }

    // .mobile-menu__list
    &__list {
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: center;

        a {
            
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            color: $colorSecondary1;

        }
    }

    // .mobile-menu__btn
    &__btn {
        margin-top: 52px;
        margin-bottom: 52px;

        color: $colorPrimary3;
    }

    // .mobile-menu__socials
    &__socials {
        margin-top: auto;
        display: flex;
        align-items: center;
        gap: 8px;
    }

    // .mobile-menu__social
    &__social {
    }
}

