.social {
    height: clamp(40px, 4.6vw, 46px);
    width: clamp(40px, 4.6vw, 46px);
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid $colorSecondary2;

    svg {
        height: 33%;
        width: auto;
    }

    &:hover {
        background: $gradientPrimary;
        border: none;

        svg {
            path {
                fill: $colorPrimary3;
            }
        }
    }

}