@mixin heading1 {
    font-family: $fontPrimary;
    font-style: normal;
    font-weight: 500;
    font-size: clamp(38px, 8vw, 80px);
    line-height: 1.025;
}
@mixin heading2 {
    font-family: $fontPrimary;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 1.2;
}
@mixin heading3 {
    font-family: $fontPrimary;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.27;
}
@mixin heading4 {
    font-family: $fontPrimary;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.25;
}
@mixin heading5 {
    font-family: $fontPrimary;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.25;
}
@mixin heading5bolder {
    font-family: $fontPrimary;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.25;
}
@mixin heading6 {
    font-family: $fontPrimary;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.75;
}

@mixin buttonTypo {
    font-family: $fontPrimary;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}

@mixin tagTypo {
    font-family: $fontPrimary;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

.h1 {
    @include heading1;
}
.h2 {
    @include heading2;
}
.h3 {
    @include heading3;
}
.h4 {
    @include heading4;
}
.h5 {
    @include heading5;
}
.h6 {
    @include heading6;
}