// Container
$conteinerWidth: 1280 + px;
$containerPadding: 15 + px;

// Breakpoints
$breakpoint1400: 1399.98 + px;
$breakpoint1200: 1199.98 + px;
$breakpoint1024: 1023.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint576: 575.98 + px;
$breakpoint480: 479.98 + px;

// Colors
$colorPrimary1: #326DE6;
$colorPrimary2: #1F317D;
$colorPrimary3: #FFFFFF;
$colorSecondary1: #F3F7FC;
$colorSecondary2: #DCE8F4;
$colorSecondary3: #57659D;
$gradientPrimary: linear-gradient(180deg, #FF9243 0%, #FF7C1D 100%);
$gradientSecondary1: linear-gradient(180deg, #4CB0F9 0%, #326DE6 100%);
$gradientSecondary2: linear-gradient(180deg, #224FAA 0%, #214286 100%);

// Fonts
$fontPrimary: gilroy;


// Burger
$burgerBreakpoint: $breakpoint992;

// Transitions
$quickTransition: all 120ms ease-out;